# 忽略所有 .log 文件
*.log

# 忽略所有的临时备份文件
*~

# 忽略所有以 "tmp" 开头的文件夹
/tmp/

# 忽略所有名为 "node_modules" 的文件夹（Node.js 项目）
node_modules/

# 忽略所有名为 "build" 的文件夹（编译输出等）
build/

# 忽略 VSCode 工作区设置
.vscode/

# 忽略 macOS 系统生成的文件
.DS_Store

# Python 项目
__pycache__/
*.py[cod]
*$py.class

# Java 项目
*.class
/target/

# C# 或 .NET 项目
/bin/
/obj/

# 忽略本地的 git 操作记录
.git/

# 忽略全局包管理工具的依赖文件
package-lock.json
yarn.lock